body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    padding: 10px 20px ;
    border-bottom: 1px solid #f4efe6;
}
.navBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgb(19, 139, 204);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 1200px;
    margin: 20px auto 0;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stat {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border:1px solid #e9dfce;
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.stat h2 {
    margin: 0 0 10px;
    font-size: 1.2em;
}

.bookings {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border:1px solid #e9dfce;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
    padding: 5px;
    background-color:#f4deb5;
    border-radius: 10px;
}
.tab {
    flex: 1;
    padding: px;
    border: none;
    cursor: pointer;
    text-align: center;    
    background-color: #f4deb5;
}

.tab.active {
    background-color: #fff;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f0f0f0;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.status {
    padding: 5px 10px;
    border-radius: 12px;
    text-align: center;
}

.status.confirmed {
    background-color: #c8e6c9;
    color: #388e3c;
}

.status.pending {
    background-color: #ffecb3;
    color: #fbc02d;
}
footer{
    max-width: 600px;
    margin: 25px auto 10px;
}
footer #terms{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer #terms a{
    color:#a1824b;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px;
}
footer #socialMediaIcons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #a1824b;
}
footer #socialMediaIcons a{
    color:#a1824b;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px;
}
footer h2{
    color:#a1824b;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
}